.container{
    height:100vh;
    display:grid;
    grid-template-areas: 
    "A A A A"
    "B C C C"
    "D D D D";
    text-align: center;
    color:white;

}
.navbars{
    grid-area: A;
    width:100%;
    /* border:2px solid red; */
    height:10vh ;
    background-color: rgb(74, 71, 71);
}
.left-sidebar{
    grid-area: B;
    width:100%;
    /* border:2px solid red; */
    background-color: rgb(109, 109, 192);
    height: 80vh;
}
.body{
    grid-area: C;
    width:100%;
    /* border:2px solid red; */
    height: 80vh;
    background-color: green;
}
.footer{
    grid-area: D;
    width:100%;
    /* border:2px solid red; */
    height:10vh ;
    background-color: rgb(74, 71, 71);
    
}
.left-sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    width:50%;
    margin-top: 0.5em;
    border: 2px solid green;
    text-align: center;
    border-radius: 20px;
    background-color: blue;
    color:white;
    min-width: 20px;

}
a:hover{
    background-color: green;
}



@media screen and (max-width:600px){
.container{
    grid-template-areas: 
    "A A A A"
    "B B B B"
    "C C C C"
    "D D D D";
}
.left-sidebar{
    height: 40vh;
}

.body{
    height:40vh;
}
    
}
